/* configuraciones principales y reset de etiquetas */
*{
    box-sizing: border-box;
    max-width: 1440px;


}
ul, ol{
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

body {
    margin: 0 auto;
   

}

/* comenzamos con el header*/

.encabezado {
    margin:0;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 300%;
    flex-direction: row;
    background-image: url(../img/pochoclosheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
   
.logo {
    width: 20%;
     
}

.señaladores ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5%;
    padding-inline-end: 5%;
}
.buscador {
   margin: 0%;
}

/* seguimos con el contenido de la pagina principal*/

.opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opciones article{ 
    width: 20%;
    margin-bottom: 30px;
    display: inline-block;
}


.portada {
    width: 100%;
    
}
 
img {
    /* evita que las imágenes sean más grandes que la etiqueta que las contiene, eliminando scrolls horizontales */
    max-width: 100%;
  }
  
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url(../img/pochoclosheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}











